@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,400,600,700');
$font-stack: 'Oxygen',
sans-serif;
$background: #fff;
body {
  font-family: $font-stack;
  background: $background;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  min-height: 60px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

h1, label {
  color:#132226;
}

.container {
  display: block;
  max-width:500px;
  margin: 100px auto 0;
}

.filter-all {}

.filter-active [data-completed="true"] {
  display: none;
}

.filter-completed [data-completed="false"] {
  display: none;
}

.current-filter {
  text-transform: uppercase;
  font-family: monospace;
}

.filter-buttons {
  text-align:right;
}

.form-control {
  max-width: 80%;
}

li .btn + .btn {
  margin-right: 10px;
}

.is-hidden {
  display: none;
}
